body{
  padding: 0%;
  margin: 0;
  font-size: 18px ;
  overflow-x: hidden;
  background-color: rgb(238, 221, 238);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto, Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
}

h2{
    text-transform: uppercase;
    text-decoration: underline;
    
}

#container-produits-panier{
    grid-area: "container-produits-panier";
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: auto;
    border-bottom: 2px solid rgb(248, 197, 248);
    padding: 20px;
    
}
.container-recapitulatif div{
font-size: 1rem;
}
.panierFinal div{
  font-size: 1rem;
  }
.container-recapitulatif{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5rem;

}

#panier_vide{
  
  display: inline;
  align-items: center;
  text-align: center;
}
.pair {
    background-color: rgb(250, 209, 250);
}
.impair {
    background-color:rgb(199, 83, 199);
}
.container-montant-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5rem;

}
.panierFinal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5rem;

}

/* Gestion du panier supOuAjout */

#supOuAjout{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;

}

#supOuAjout span{
  
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 0px 0px #f8c5f8;
  border: 1px solid #f8c5f8;
  background-color: rgba(250, 248, 248, 0.548);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


.panierFinal span{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 15%;
  height: 30px;
  box-shadow: 2px 2px 0px 0px #f8c5f8;
  border: 1px solid #f8c5f8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#vidPanier{
  width: 150px;
}

/*formulaire de comannde ------------------------------*/

.formDeCommande{
  margin: 20px 0 20px 0px;
}


form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 80%;
    /* Encadré pour voir les limites du formulaire
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em; */
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
   
  }
  
  input{
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 100%;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: rgb(82, 82, 82);
  }
  
  #btn_commande {
    border-radius: 30px;
    border:none ;
    background-color: rgb(199, 83, 199);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100% ;
    margin: 20px 0px 20px 0px;
    font-weight: 600;
    font-size: 18px;
  }
  .aRemplirStyle{
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width: 425px) {

    .container-recapitulatif {
      flex-wrap: wrap;
      
    }
    .panierFinal {
      flex-wrap: wrap;
      }
  
    .container-recapitulatif div{
    font-size: 0.8rem;
    margin: 5px;
    }

    .panierFinal div{
      font-size: 0.8rem;
      }
      #supOuAjout{
        width: 90px;
      }

      #vidPanier{
        width: 130px;
        height: 20px;
        font-size: 0.7rem;
      }

}