body{
    padding: 0%;
    margin: 0;
    font-size: 18px ;
    overflow-x: hidden;
    background-color: rgb(238, 221, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.conteneur{
    padding-top:0px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid rgb(248, 197, 248);
}
article{
    display: inline;
    padding: 40px;
}
article div {
    margin-left: 20px;
}
.product{
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.89);
    padding-bottom: 60px;
    padding-top: 50px;

}
.product a {
    width: 100%;
    height: 100%;
}
.product img {
    width: 100%;
    height: 100%;
    border:  4px solid rgb(248, 197, 248) ;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}

.product img:hover {
    box-shadow: rgb(255, 255, 255) 5px 5px 5px 5px;
    transition: margin-right 2s ease-in-out .5s;
    -webkit-transition: margin-right 2s ease-in-out .5s;
    -moz-transition: margin-right 2s ease-in-out .5s;
    -ms-transition: margin-right 2s ease-in-out .5s;
    -o-transition: margin-right 2s ease-in-out .5s;
}

h2{
    font-size: 2vw;
    font-weight: 600;
    text-decoration: underline rgb(255, 255, 255);
}
h5{
    display: flex;
    font-size: 1.6vw;

}

// tabletes @media


@media screen and (max-width: 425px) {

    .product{
        width: 70%;
        padding-bottom: 30px;
        padding-top: 20px;
        
    
    }

    .conteneur{
        padding-top:8px ;
        padding-bottom: 50px;
        
    }

        h2{
        display: flex;
        font-size: 3vw;
    
    }

    h5{
        display: flex;
        font-size: 3vw;
    
    }

  }

  @media screen and (min-width: 768px) {
    .conteneur{
        padding-top:80px ;
        padding-bottom: 50px;
        margin: 20px;
    }
  }

  @media screen and (min-width: 1440px) {
    .conteneur{
        padding-top:80px ;
        padding-bottom: 50px;
        margin: 20px;
    }
  }

  @media screen and (min-width: 2000px) {
    .conteneur{
        padding-top:190px ;
        padding-bottom: 50px;
        
    }
  }